.basket {
  display: flex;
  justify-content: right;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.mount {
  background-color: rgb(197, 194, 194);
  position: relative;
  right: 10px;
  top: -7px;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  color: white;
}
.container {
  width: 100%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }

  .show-xs {
    display: block;
  }

  .hide-xs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  .show-sm {
    display: block;
  }

  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  .show-md {
    display: block;
  }

  .hide-md {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  .show-lg {
    display: block;
  }

  .hide-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .show-xl {
    display: block;
  }

  .hide-xl {
    display: none;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Sizing */
.sm {
  width: 30px;
  padding: 0;
}
